:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --table-hd-color: #f6f8fb;
  --border-color: #e5e5e5;

  --primary-color: #FC4A49;
  --warning-color: #ff9900;
  --success-color: #28a745;
  /* color: #FFC3C3; */
}

body {
  margin: 0;
  font-size: 14px;
}

#app {
  position: relative;
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #c2c2c2;
    background-color: #313233;

    --table-hd-color: #373839;
    --border-color: #444;
  }
}
